html {
    //height: 600px;
    width: 400px;
}
body {
    height: 100%;
    width: 88%;
    background-color: #2C2C33;
    border-style: outset;
    border-width: 7px;
    border-color: white;
    padding: 10px;
    list-style: none;
    font-family: Candara, Roboto, Verdana, sans-serif;
    font-size: 1em;
    color: #E4B93B;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
table#countdown {
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: bolder;
    color: white;
}
table.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}
table, th, td {
    //border: 1px solid white;
}
td {
    width: 10%;
}
td.name {
    text-align: right;
}
td.value {
    text-align: left;
}
a:link, a:visited {
    color: #E4B93B;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
button {
    background-color: white;
    border: 3px solid #E4B93B;
    color: black;
    //padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
    border-radius: 6px;
}
button:hover {
    background-color: #E4B93B;
    color: white;
}